# Compiled Object files
*.o
*.obj

# Executables
*.bin
*.elf
*.dll
*.mp4
*.mp3
*.png
*.jpg
*.jpeg
*.txt
*.apple
*.appler
setup.bat
setup.ps1
build_setup.ps1
bad_apple_encoder.cpp
# PROS
bin/
.vscode/
.cache/
compile_commands.json
temp.log
temp.errors
*.ini
.d/